<!-- Card of task -->
<div class="card col-12 col-sm-5 col-md-5 col-xl-5" style="padding: 2%; margin: 5px 10px;">
    <div class="card-body">
        <div class="row">
            <h5 class="card-title col-md-10">{{ task.title }}</h5>
            <a class="col-md-2" href="/user/{{ task.creator_id }}">{{ task.creator }}</a>
            <span class="badge badge-pill badge-dark" style="margin-left: 15px;">tags</span>
        </div>
        <p class="card-text">{{ task.description }}</p>
        <a href="/task/{{ task.id }}" class="btn btn-outline-dark">More about</a>
    </div>
</div>
